:root {
    --background-color: #010313;
    --background-color-2: #181024;
    --text-primary-color: #fff;
    --text-secondary-color: #000;
    --primary-color: #3CA2FA;
    --primary-color-2: #3CA2FA4D;
    --primary-color-3: #3CA2FA33;
    --primary-color-4: #3CA2FA1A;
    --secondary-color: #80EEB4;
    --secondary-color-2: #80EEB44D;
    --secondary-color-3: #80EEB433;
    --secondary-color-4: #80EEB41A;
    --white-color: #fff;
    --black-color: #000;
    --black-color-2: #736F7F;
    --black-color-3: #8D94A1;
    --glass-color: #0D0E1E;
    --glass-color-2: #1B1D2B;
    --glass-color-3: #313240;
    --glass-color-4: #3D3E4B;
    --glass-color-5: #0D0E1E66;
    --border-color: #393A3D;
    --placeholder-color: #8f99b1;
    --copy-right-color: #6A5F77;
    --opacity-text-color: #959596;
}

.light {
    --background-color: #F7F6F5;
    --text-primary-color: #000;

    --secondary-color: #FA4398;
    --secondary-color-2: #FA43984D;
    --secondary-color-3: #FA439833;
    --secondary-color-4: #FA43981A;
    --opacity-text-color: #7A808D;
    --glass-color: rgb(255 255 255 / 0.5);
    --glass-color-5: rgb(255 255 255 / 0.66);
}