:root {
  --background-color: #010313;
  --background-color-2: #181024;
  --text-primary-color: #fff;
  --text-secondary-color: #000;
  --primary-color: #3ca2fa;
  --primary-color-1: #3ca2fa66;
  --primary-color-2: #3ca2fa4d;
  --primary-color-3: #3ca2fa33;
  --primary-color-4: #3ca2fa1a;
  --primary-color-5: #3ca2fa0d;
  --secondary-color: #80eeb4;
  --secondary-color-1: #80eeb4cc;
  --secondary-color-2: #80eeb44d;
  --secondary-color-3: #80eeb433;
  --secondary-color-4: #80eeb41a;
  --white-color: #fff;
  --white-color-2: #ffffffcc;
  --black-color: #000;
  --black-color-2: #736f7f;
  --black-color-3: #8d94a1;
  --black-color-4: #d4d4d4;
  --glass-color: #0d0e1e;
  --glass-color-2: #1b1d2b;
  --glass-color-3: #313240;
  --glass-color-4: #3d3e4b;
  --glass-color-5: #0d0e1e66;
  --border-color: #393a3d;
  --placeholder-color: #8f99b1;
  --copy-right-color: #6a5f77;
  --opacity-text-color: #959596;
  --purple-color: #140e1e80;

  --font-nunito: "Nunito";
  --font-creepster: "Creepster";
}

.light {
  --background-color: #f7f7f7;
  --text-primary-color: #000;
  --opacity-text-color: #646D7B;
  --glass-color: rgb(255 255 255 / 0.5);
  --glass-color-5: rgb(255 255 255 / 0.66);
  --placeholder-color: #0d0e1e;
}