@use "abstracts/Variables";
@use "abstracts/mixin";
@use "./pages/home/banner-section";
@use "./pages/home/feature-section";
@use "./layout/footer/rocket-scrool-svg";
@use "./pages/home/testimonial-section.scss";

.rounded-button {
    @include mixin.rounded-button;
}