@tailwind base;
@tailwind components;
@tailwind utilities;

.navigation-active {
    @apply py-1.5 px-6 text-[var(--text-primary-color)] capitalize rounded-full
}

.navigation-unactive {
    @apply text-[var(--text-primary-color)] py-1.5 px-6 capitalize
}

.social-icon-animation {
    @apply bg-[var(--glass-color-5)] border-[var(--border-color)] p-3 rounded-full
}

.custom-list-disc li::marker {
    color: var(--primary-color);
    font-size: 1.25rem;
}

.font-nunito {
    font-family: var(--font-nunito);
}

.font-creepster {
    font-family: var(--font-creepster);
}