.testimonial {
    .testimonial-list-bottom-to-top {
        will-change: transform;
        animation: marquee-bottom-to-top 25s linear infinite;
    }

    .testimonial-list-top-to-bottom {
        animation: marquee-bottom-to-bottom 25s linear infinite;
    }

    @keyframes marquee-bottom-to-top {
        from {
            transform: translateY(0);
        }

        to {
            transform: translateY(-50%);
        }
    }

    @keyframes marquee-bottom-to-bottom {
        from {
            transform: translateY(-50%);
        }

        to {
            transform: translateY(0);
        }
    }
}